body {
  background-color: rgba(20,25,50,0.5);
}
h1 {
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(190, 189, 189, 0);

}
button {
  background-color:red;
  color: #fff;
  text-align: center;
  padding: 10px 20px;
  margin: 5px,auto;
  border: black;
}

div, button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ArrayBar {
    min-width: 20rem;
    width: 60rem;
    padding: 2rem 2rem;
    background-color: azure;
    color: #2980b9;
    border-radius: 5rem;
    box-shadow: 0rem 2rem 2rem -1.5rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
    text-align: center;
  }

.btn,
.btnInner {
  margin: auto;
  margin-top: 2rem;
  border: none;
  outline: none;
  padding: 1rem 3rem;
  background-color: #2980b9;
  color: aliceblue;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1rem;
  display: flex

}
  .btnInner {
    background-color: #d12b54;
    padding: 0.7rem 1.5rem;
    font-size: 1.5rem;
    margin-left: 4rem;
    display: flex
    
  }

